header {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid lightgrey;
  .container {
    height: 100%;
    .header-left {
      float: left;
      height: 100%;
      line-height: 70px;
      img {
        height: 50px;
      }
    }
    .header-right {
      float: right;
      height: 100%;
      line-height: 70px;
      ul {
        list-style: none;
        text-align: right;
        li {
          display: inline-block;
          margin: 0 30px;
          a {
            color: grey;
          }
        }
      }
    }
  }
}
