.post {
  margin-top: 30px;
  border-bottom: 1px solid lightgrey;
  h2 {
    small {
      font-size: 15px;
      margin-left: 10px;
      color: grey;
    }
  }
  h3 {
    font-size: 20px;
    margin-bottom: 15px;
    }
}
